Repository UF-CEN5035-2022SpringProject/GatorStore, pull requests merged in 2022-03, with the labels that each got.

#60 Merge livestream branch into backend-test
  backend/src/api/api.go
  backend/src/api/livestream.go
  backend/src/api/user.go
  backend/src/db/user.go
  backend/src/main.go
  backend/src/test/user.go
  backend/src/utils/constant.go
  backend/src/utils/errors.go
Labels: backend, sprint2

#68 Spr2 backend feature/livestream + feature/unit-test
  backend/src/api/api.go
  backend/src/api/api_test.go
  backend/src/api/livestream.go
  backend/src/api/user.go
  backend/src/autoTest.sh
  backend/src/db/db.go
  backend/src/db/db_test.go
  backend/src/db/live.go
  backend/src/db/store.go
  backend/src/db/user.go
  backend/src/logger/logger.go
  backend/src/main.go
  backend/src/setting.go
  backend/src/test/db.go
  backend/src/test/user.go
  backend/src/utils/errors.go
  backend/src/utils/utils.go
Labels: backend, sprint2

#71 Create Livestream & Cypress Front-end Testing
  seller-frontend/gatorstore/cypress.json
  seller-frontend/gatorstore/cypress/integration/landing-page.js
  seller-frontend/gatorstore/cypress/integration/seller-store-page.js
  seller-frontend/gatorstore/cypress/plugins/index.js
  seller-frontend/gatorstore/cypress/support/commands.js
  seller-frontend/gatorstore/cypress/videos/1-getting-started/todo.spec.js.mp4
  seller-frontend/gatorstore/cypress/videos/2-advanced-examples/actions.spec.js.mp4
  seller-frontend/gatorstore/src/settings.js
Labels: frontend

#79 Spr3 backend feature/store actions
  backend/src/api/store.go
  backend/src/api/user.go
  backend/src/db/store.go
  backend/src/logger/logger.go
  backend/src/main.go
  backend/src/utils/constant.go
  backend/src/utils/utils.go
Labels: backend, sprint3

#80 Spr3 backend feature/productapi
  backend/src/api/product.go
  backend/src/db/product.go
  backend/src/main.go
Labels: backend, sprint3

#81 Spr3 backend feature/store actions
  backend/src/api/store.go
  backend/src/api/user.go
  backend/src/db/product.go
  backend/src/db/store.go
  backend/src/main.go
  backend/src/utils/utils.go
Labels: backend, sprint3

#84 Spr3 backend feature/orders
  backend/src/api/product.go
  backend/src/db/db.go
  backend/src/db/orders.go
Labels: backend, sprint3

#87 Issue83
  backend/src/api/livestream.go
Labels: backend, sprint3

#91 add verification of create live
  backend/src/api/livestream.go
Labels: enhancement, backend, sprint3

#94 modify LiveStream info api to getLiveStream
  backend/src/api/livestream.go
  backend/src/api/store.go
  backend/src/main.go
Labels: backend, sprint3

#96 Spr3 sfrontend test/fix small details
  seller-frontend/gatorstore/src/pages/SellerStorePage.js
Labels: bug, frontend, sprint3

#98 add enable autostart autostop and ultralow latency for new livestream
  backend/src/api/livestream.go
Labels: bug, backend, sprint3

#100 add checking liveId of productpurchase
  backend/src/api/product.go
Labels: enhancement, backend, sprint3
