Repository UF-CEN5035-2022SpringProject/GatorStore, pull requests merged in 2022-04, with the labels that each got.

#104 add return after ReturnResponse()
  backend/src/api/store.go
  backend/src/api/user.go
Labels: bug, backend, sprint3

#103 add and modify some testcases
  backend/src/api/api_test.go
Labels: backend, sprint3

#109 adding recommend list API
  backend/src/api/store.go
  backend/src/db/store.go
  backend/src/main.go
Labels: backend, sprint3

#110 adding Product Name in Orders
  backend/src/api/product.go
  backend/src/db/orders.go
Labels: backend, sprint3

#108 adding recommend list in landing page
  buyer-frontend/gatorstore-buyer/src/components/aboutcard.js
  buyer-frontend/gatorstore-buyer/src/pages/LandingPage.js
Labels: frontend, sprint3

#111 Buyer Web application and Seller Features
  buyer-frontend/gatorstore-buyer/package.json
  buyer-frontend/gatorstore-buyer/src/components/Header.js
  buyer-frontend/gatorstore-buyer/src/components/Productcard.js
  buyer-frontend/gatorstore-buyer/src/components/aboutcard.js
  buyer-frontend/gatorstore-buyer/src/index.js
  buyer-frontend/gatorstore-buyer/src/pages/LandingPage.js
  buyer-frontend/gatorstore-buyer/src/pages/MyOrders.js
  buyer-frontend/gatorstore-buyer/src/pages/ProductPage.js
  buyer-frontend/gatorstore-buyer/src/pages/Store.js
  buyer-frontend/gatorstore-buyer/src/settings.js
  buyer-frontend/gatorstore-buyer/src/styles/myOrders.css
  seller-frontend/gatorstore/src/pages/SellerStorePage.js
  seller-frontend/gatorstore/src/settings.js
Labels: frontend, sprint3

#131 Spr4 sfrontend orders fix/live list
  seller-frontend/gatorstore/src/pages/Livestreams.js
Labels: bug, sprint4

#130 add a bunch of testcases for api package
  backend/src/api/api_test.go
  backend/src/api/livestream.go
Labels: enhancement, backend, sprint4

#133 Spr4 backend feature/apis
  backend/src/api/livestream.go
  backend/src/api/store.go
  backend/src/db/live.go
  backend/src/db/store.go
  backend/src/main.go
Labels: enhancement, frontend, sprint4

#132 Spr4 bfrontend feature/colorized
  buyer-frontend/gatorstore-buyer/package.json
  buyer-frontend/gatorstore-buyer/public/tower-login.jpeg
  buyer-frontend/gatorstore-buyer/src/index.js
  buyer-frontend/gatorstore-buyer/src/pages/InstructionPage.js
  buyer-frontend/gatorstore-buyer/src/pages/LoginRedirect.js
  buyer-frontend/gatorstore-buyer/src/settings.js
  buyer-frontend/gatorstore-buyer/src/styles/app.css
Labels: enhancement, frontend, sprint4

#134 Adding Features - live list and live order list
  seller-frontend/gatorstore/src/index.js
  seller-frontend/gatorstore/src/pages/Livestreams.js
  seller-frontend/gatorstore/src/pages/Orders.js
  seller-frontend/gatorstore/src/pages/SellerStoreList.js
  seller-frontend/gatorstore/src/settings.js
  seller-frontend/gatorstore/src/styles/orders.css
Labels: enhancement, frontend, sprint4

#136 adding paremeter for buyer login
  backend/src/api/user.go
Labels: enhancement, frontend, sprint4

#137 UI on landing page in Buyers
  buyer-frontend/gatorstore-buyer/public/storeProductImage.png
  buyer-frontend/gatorstore-buyer/src/pages/InstructionPage.js
  buyer-frontend/gatorstore-buyer/src/settings.js
  buyer-frontend/gatorstore-buyer/src/styles/app.css
Labels: enhancement, frontend, sprint4

#138 Spr4 bfrontend feature/landing pages
  buyer-frontend/gatorstore-buyer/src/components/Footer.js
  buyer-frontend/gatorstore-buyer/src/components/Header.js
  buyer-frontend/gatorstore-buyer/src/pages/InstructionPage.js
  buyer-frontend/gatorstore-buyer/src/pages/LandingPage.js
  buyer-frontend/gatorstore-buyer/src/pages/LoginRedirect.js
  buyer-frontend/gatorstore-buyer/src/settings.js
  buyer-frontend/gatorstore-buyer/src/styles/app.css
Labels: frontend, sprint4

#140 Spr4 sfrontend feature/landing pages
  buyer-frontend/gatorstore-buyer/src/components/Header.js
  buyer-frontend/gatorstore-buyer/src/pages/InstructionPage.js
  buyer-frontend/gatorstore-buyer/src/pages/LoginRedirect.js
  buyer-frontend/gatorstore-buyer/src/settings.js
  seller-frontend/gatorstore/public/storeProductImage.png
  seller-frontend/gatorstore/public/tower-login.jpeg
  seller-frontend/gatorstore/src/components/Footer.js
  seller-frontend/gatorstore/src/components/Header.js
  seller-frontend/gatorstore/src/components/Landingheader.js
  seller-frontend/gatorstore/src/pages/LandingPage.js
  seller-frontend/gatorstore/src/pages/LoginRedirect.js
  seller-frontend/gatorstore/src/settings.js
  seller-frontend/gatorstore/src/styles/app.css
Labels: frontend, sprint4
